
/*输入框*/
.navbar-item-blank-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    outline:none;
}

.el-input {
    background-color: #f1f1f1;
    width: 30%;
    right: 5%;
    border-radius: 20px;
    overflow: hidden;
    min-width:200px;
}
    .el-input.form-input {
        border: 0;
        font-size: 16px;
        transition: .3s;
    }

        /*输入框文本*/
        .el-input.form-input .el-input__inner {
            border-radius: 20px;
            border-width: 0;
            outline: none;
            background-color: #f1f1f1;
            color: black;
            transition: .3s;
        }

            /*输入框提示文字*/
            .el-input.form-input .el-input__inner::-webkit-input-placeholder {
                color: #777;
            }

            .el-input.form-input .el-input__inner::-moz-placeholder {
                color: #777;
            }

            .el-input.form-input .el-input__inner:-ms-input-placeholder {
                color: #777;
            }
/*搜索输入框按钮*/
.el-button.search-button {
    margin-right: 10px;
}
/*标签*/
.tags {
    padding: 20px
}
.el-tag {
    margin: 5px;
}

/*书籍展示*/
.bookrow {
    margin: 40px 0;
}
.el-card.bookcard:hover{
    transition:.5s;
    transform:translate(0,-20px);
}
.el-card__body{
    padding:0;
}
.el-card a {
    text-decoration: none;
    transition: .5s;
    color: black;
}
    .el-card a:visited{
        color:black;
    }
.bookInfo {
    padding: 0 14px;
}
    .bookInfo p {
        color: #69F;
    }
        .bookInfo .categry {
            margin: 0;
            margin-bottom: 5px;
            color: #777;
            font-size: small;
        }
.imgframe {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.el-image.bookimg {
    width: 100%;
    min-height: 200px;
    height: auto;
    object-fit: cover;
    transition: 0.5s;
}
    .el-image.bookimg:hover {
        transform: scale(1.1);
    }
.el-image__error {
    min-height: 200px;
}

/*分页*/
.pages {
    padding: 20px;
}

/*下拉菜单*/
.dropdownlabel{
    font-size:medium;
    color:#777;
    margin-right:10px;
}
.el-dropdown-link{
   color:#69F;
}
.el-dropdown-link:hover {
    cursor:pointer;
}
/*侧边栏*/
.el-aside {
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
}
    .el-aside .el-menu {
        border:none !important;
    }
/*无商品文字*/
.noGoods{
    text-align:center;
    color:gray;
    font-size:48px;
}