.el-header {
    padding: 0;
}
/*导航栏*/
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    margin: 0;
    background-color: rgba(255,255,255,0);
    border:none !important;
    box-shadow: none;
    transition: .3s;
    z-index: 9999;
}
.navbar-fixed{
    background-color: rgba(255,255,255,0.8);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
    backdrop-filter: saturate(180%) blur(10px);
}
/* 同济logo */
.logo{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: #eee;
    overflow:hidden;
    outline:none;
    margin-right:20px;
}
/*导航栏项*/
.el-menu-item.navbar-item {
    padding: 0;
}

    .el-menu-item.navbar-item:hover {
        background-color: rgba(0,0,0,0) !important;
    }

    .el-menu-item.navbar-item.is-active {
        background-color: rgba(0,0,0,0) !important;
    }
    .el-menu-item.navbar-item > a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: white;
        text-align: center;
        transition: .5s;
    }

    .navbar-fixed .el-menu-item.navbar-item > a {
        color: #000;
    }

    .navbar-fixed .el-menu-item.navbar-item > a:hover {
            background-color: #eee;
            color: #000;
        }
/*菜单栏空项*/
.navbar .navbar-item-blank-left {
    width:100px;
}
.navbar .navbar-item-blank-center {
    flex-grow: 1;
}
.navbar .navbar-item-blank-right {
    width:100px;
}
/*下拉菜单图标*/
.el-submenu__title:hover {
    background-color: #eee !important;
}
/*头像*/
.navbar-menu .avatar{
    width:30px;
    height:30px;
    border-color:rgba(0,0,0,0);
    border-radius:50%;
    overflow:hidden;
    outline:none;
    background-color:#eee;
    margin-bottom:5px;
    margin-right:5px;
}
.el-submenu__title > i {
    margin-left: 0 !important;
    color: white;
}
.navbar-fixed .el-submenu__title > i {
    color: #000;
}
/*下拉菜单内容*/
.el-menu.el-menu--popup.el-menu--popup-bottom-start {
    padding: 10px 0;
    padding-bottom: 20px;
    background-color: white;
}
    /*下拉菜单项*/
    .el-menu.el-menu--popup.el-menu--popup-bottom-start .el-menu-item.navbar-item {
        margin: 10px 0;
        background-color: rgba(0,0,0,0) !important;
    }

        .el-menu.el-menu--popup.el-menu--popup-bottom-start .el-menu-item.navbar-item:hover {
            background-color: rgba(0,0,0,0) !important;
        }
     /*下拉菜单项文字*/
     .el-menu.el-menu--popup.el-menu--popup-bottom-start .el-menu-item.navbar-item a{
        color:#000;
    }
    .el-menu.el-menu--popup.el-menu--popup-bottom-start .el-menu-item.navbar-item a:hover{
        background-color: #ccc;
    }

