
.up {
    width: 1000px;
    height: 150px;
    position: absolute;
    top:150px;
    left:300px;
    z-index: 100;
}
.tab {
    width: 1000px;
    height: 2000px;
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 100;
}

#blank {
    width: 1500px;
    height: 1500px;
    position: absolute;
    opacity: 0.45;
    z-index: 3;
}


input {
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px; 
    padding-left: 5px;
}

button {
    width: 40px; 
    height: 30px; 
    border-width: 0px; 
    border-radius: 3px; 
    background:rgba(220, 206, 206, 0.50); /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
}