@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "注册";
}
@section styles{
    @Styles.Render("~/Content/styles/regesiter.css")
}
<el-row class="title">
    <h1>注册</h1>
</el-row>
<el-form label-width="0">
    <el-form-item>
        <el-input class="form-input" v-model="username" placeholder="用户名">
            <i slot="prefix" class="fa fa-user"></i>
        </el-input>
    </el-form-item>
    <el-form-item>
        <el-input class="form-input" v-model="email" placeholder="邮箱">
            <i slot="prefix" class="fa fa-envelope"></i>
        </el-input>
    </el-form-item>
    <el-form-item>
        <el-input class="form-input" v-model="password" placeholder="密码" show-password>
            <i slot="prefix" class="fa fa-lock"></i>
        </el-input>
    </el-form-item>
    <el-form-item>
        <el-input class="form-input" v-model="repassword" placeholder="确认密码" show-password>
            <i slot="prefix" class="fa fa-lock"></i>
        </el-input>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" class="form-button" v-on:click="register"  round>注册</el-button>
    </el-form-item>
</el-form>
<el-row class="link">
    <p>已有账号？@Html.ActionLink("登录", "Login", "Account")</p>
</el-row>
@section scripts{
    @Scripts.Render("~/Scripts/js/regesiter.js")
}