@{
    ViewBag.Title = "商品页";
}
@section styles{
    @Styles.Render("~/Content/styles/show_one_goods.css")
}

<div class="whole" v-loading="isLoading">
    <div class="goodImage">
        <img v-bind:src="imgSrc" />
    </div>
    <div class="info">
        <div class="goodName">
            {{goodName}}
        </div>
        <div style="width:600px;height:50px;margin-top:10px">
            <div class="typeInfo">
                评价：
            </div>
            <div class="evaluation">
                <el-rate v-model="marks" disabled show-score text-color="rgb(255,172,45)"></el-rate>
            </div>
        </div>
        <div style="width:600px;height:50px;margin-top:10px">
            <div class="typeInfo">
                商品描述：{{goodsDescription}}
            </div>
        </div>
        <div style="width:600px;height:50px;margin-top:150px;margin-left:100px">
            <button type="button" class="addShoppingCart" v-on:click="confirm">
                向卖家发送借书信息
            </button>
        </div>
    </div>
</div>
<div class="commentSection">
    <el-row>
        <el-col :span="22">
            <div>
                最新评论：
            </div>
        </el-col>
        @*<el-col :span="2">
                <button style="margin-left:20px">发表评论</button>
            </el-col>*@
    </el-row>
    <hr>
    <div class="comment">
        <div v-for="item in commentList">
            <div>用户名：{{item.user_name}}</div>
            <div>用户评价：</div><div>{{item.comment}}</div>
            <br />
            <br />
            <el-row>
                <el-col :span="4">
                    <div>评价时间：{{item.comment_time}}</div>
                </el-col>
                <el-col :span="1">
                    <div>
                        评分：
                    </div>
                </el-col>
                <el-col :span="10">
                    <el-rate v-model="item.comment_score" disabled show-score text-color="rgb(255,172,45)"></el-rate>
                </el-col>
            </el-row>
            <hr>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/js/borrowGood.js")
}