@{
    ViewBag.Title = "商品页";
}
@section styles{
    @Styles.Render("~/Content/styles/show_one_goods.css")
}



<div class="whole" v-loading="isLoading">
    <div class="goodImage">
        <img v-bind:src="imgSrc" />
    </div>
    <div class="info">
        <div class="goodName">
            {{goodName}}
        </div>
        <div style="width:600px;height:50px;background-color: rgb(218, 218, 218);margin-top:10px">
            <div class="typeInfo">
                价格：
            </div>
            <div class="price">
                ￥{{price}}
            </div>
        </div>
        <div style="width:600px;height:50px;margin-top:10px">
            <div class="typeInfo">
                评价：
            </div>
            <div class="evaluation">
                {{marks}}
            </div>
        </div>
        <div style="width:600px;height:50px;margin-top:10px">
            <div class="typeInfo">
                商品描述：{{goodsDescription}}
            </div>
        </div>
        <div style="width:600px;height:50px;margin-top:50px;margin-left:100px">
            <button type="button" class="addShoppingCart" v-on:click="sendPurchaseInfo">
                购买
            </button>
        </div>
    </div>
</div>
<div class="commentSection">
    <el-row>
        <el-col :span="22">
            <div>
                最新评论：
            </div>
        </el-col>
        @*<el-col :span="2">
                <button style="margin-left:20px">发表评论</button>
            </el-col>*@
    </el-row>
    <hr>
    <div class="comment">
        <div v-for="item in commentList">
            <div>用户名：{{item.user_name}}</div>
            <div>用户评价：</div><div>{{item.comment}}</div>
            <br />
            <br />
            <el-row>
                <el-col :span="4">
                    <div>评价时间：{{item.comment_time}}</div>
                </el-col>
                <el-col :span="2">
                    <div>
                        评分：{{item.comment_score}}
                    </div>
                </el-col>
            </el-row>
            <hr>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/js/showGood.js")
}

