@{
    ViewBag.Title = "主页";
}
@section styles{
    @Styles.Render("~/Content/styles/home.css")
}

@section PageHeader{
    <div class="PageBlock">
        <h1>同济二手书店</h1>
        <h3>Tongji BookStore</h3>
    </div>
    <el-button class="downbutton" type="text" v-on:click="scrollDown"><i class="fa fa-chevron-down fa-lg downicon"></i></el-button>
}

<i id="mainAnchor" class="anchor"></i>
@* 走马灯 *@
<div class="goodsPage">
    <h1 class="title">最新借出</h1>
    <div class="divider"></div>
    <div class="carousel" v-loading="isLoading[0]">
        <el-carousel :interval="5000" type="card">
            <el-carousel-item v-for="item in newBorrowBooks">
                <a :href="item.href" target="blank">
                    <img :src="item.img" class="showImg" />
                    <div class="showInfo">
                        <h1>{{item.book_name}}</h1>
                        <p>￥{{item.price}}</p>
                        <span>{{item.goods_description}}</span>
                    </div>
                </a>
            </el-carousel-item>
        </el-carousel>
    </div>
</div>
<div class="goodsPage">
    <h1 class="title">最新售卖</h1>
    <div class="divider"></div>
    <div class="carousel" v-loading="isLoading[1]">
        <el-carousel :interval="5000" type="card">
            <el-carousel-item v-for="item in newSellBooks">
                <a :href="item.href" target="blank">
                    <img :src="item.img" class="showImg" />
                    <div class="showInfo">
                        <h1>{{item.book_name}}</h1>
                        <p>￥{{item.price}}</p>
                        <span>{{item.goods_description}}</span>
                    </div>
                </a>
            </el-carousel-item>
        </el-carousel>
    </div>
</div>

<div class="goodsPage" v-if="isLogin">
    <h1 class="title">推荐书单</h1>
    <div class="divider"></div>
    <div v-loading="isLoading[2]" style="min-height:50vh;" class="recommendGoods">
        <el-row v-for="row in recommendCard" type="flex" justify="space-around">
            <el-col :span="5" v-for="item in row">
                <el-card>
                    <a :href="item.href" target="blank">
                        <div class="imgframe">
                            <el-image :src="item.img"></el-image>
                        </div>
                        <div class="goodsInfo">
                            <h1>{{item.book_name}}</h1>
                            <span>{{item.goods_description}}</span>
                            <p> </p>
                        </div>
                    </a>
                </el-card>
            </el-col>
        </el-row>
    </div>

</div>

@section scripts{
    @Scripts.Render("~/Scripts/js/home.js")
}