@{
    ViewBag.Title = "商城";
}

@section styles{
    @Styles.Render("~/Content/styles/mall.css")
}

@section PageHeader{
    <div class="PageBlock">
    </div>
}

@section scripts{
    @Scripts.Render("~/Scripts/js/mall.js")
}